# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    webserv.config                                     :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: maballet <maballet@student.42lyon.fr>      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2026/02/17 11:04:14 by vakozhev          #+#    #+#              #
#    Updated: 2026/04/01 16:02:04 by maballet         ###   ########lyon.fr    #
#                                                                              #
# **************************************************************************** #


http {
	# in seconds for keepalive 
	# and client_max_body_size -> # 1 MiB mebibyte (base 2) 2 ^ 10 = 1024 ; 
	# 1 MiB = 1 048 576 octets (= 1024 × 1024)
	server {
		listen 127.0.0.1:8080;
		server_name test_serv_1;

		# main site : html/site1
		location / {
			root ./html/site1;
			index home.html;
			autoindex off;      
			methods GET;
		}

	}
}
