http {
	# in seconds for keepalive 
	# and client_max_body_size -> # 1 MiB mebibyte (base 2) 2 ^ 10 = 1024 ; 
	# 1 MiB = 1 048 576 octets (= 1024 × 1024)

	keepalive_timeout 15;
	client_max_body_size 1048576;

	error_page 404 /errors/404.html;
	error_page 500 /errors/500.html;
	
	server {
		include extra.conf;
		listen 127.0.0.1:8080;
		server_name test_serv_1;

		# main site : html/site1
		location / {
			root ./html/site1;
			index home.html;
			autoindex off;      
			methods GET;
		}

		# simple redirection /old-page to /new-page
		location /old-page {
			return 301 /new-page;
			methods GET;
		}

		# /new-page -> html/site1/new.html
		location /new-page {
			root ./html/site1;
			index new.html;
			methods GET;
		}
		
		location /srcs {
			root ./srcs;
			autoindex on;		
			methods GET;
		}
        
		# ex of request :
		#  POST /uploads/test.txt  -> ./uploads/test.txt
		location /uploads {
			root ./uploads;
			methods POST;
		}
		
		# ex :
        #   GET /files/test.txt     -> ./uploads/test.txt
        #   DELETE /files/test.txt  -> ./uploads/test.txt
		location /files {
			root ./uploads;
			autoindex on;
			methods GET DELETE;
		}
        
		# ex :
        #   GET /cgi-bin/random_plate.py
        #   -> ./html/site1/cgi-bin/random_plate.py
		location /cgi-bin {
			root ./html/site1/cgi-bin;
			methods GET POST;
			cgi_ext .py;
			cgi_path /usr/bin/python3;
		}

		# ex :
        #   GET /assets/logo.png -> ./html/site1/assets/logo.png
		location /assets {
			root ./html/site1/assets;
			methods GET;
		}

		# ex :
        #   GET /errors/404.html -> ./html/site1/errors/404.html
		location /errors {
			root ./html/site1/errors;
			methods GET;
		}

		# ex :
        #   GET /dishes/... -> ./html/site1/dishes/...
		location /dishes {
			root ./html/site1/dishes;
			autoindex on;
			methods GET;
		}

	}
    
	server {
		listen 127.0.0.1:8081;
		server_name test_serv_2;
		
		location / {
			root ./html/site2;
			index home.html;
			methods GET;
		}

		location /cgi-bin {
			root ./html/site2/cgi-bin;
			methods GET POST;
			cgi_ext .php;
			cgi_path /usr/bin/php;
		}

		location /errors {
			root ./html/site2/errors;
			methods GET;
		}
	}
}
